*,
::before,
::after {
  box-sizing: border-box;
}
:root {
  --yellow: #fdd900;
  --whiteSummary: #d9d9d9;
  --white: #efeeee;
  --black: #141414;
  --gray: #fdd900;
}
body {
  color: var(--black);
  background-color: var(--white);
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
}
